body{
    background: #FFFFFF;
    color: #000000;
}
header{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    color: #FFFFFF;
}


div.container div.header{
    width: 100%;
    text-align: center;
}
div.row div a img{
    height: 250px;
    max-height: 250px;
    width: 350px;
    max-width: 350px;
}




form.email-form {
    margin: 50px;
}
input{
    background: none;
    border: solid 2px #f43100;
    color: #f43100;
    padding: 15px 40px;
    font-size: 18px;
    display: inline-block;
}
input:focus, input:active{
    outline: none;
}
input[type="text"], input[type="email"]{
    border: none;
    border-bottom: solid 2px #f43100;
}
input[type="submit"], input:active{
    color: #FFFFFF;
    background: #f43100;
}
.input-group{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.input-group input{
    padding: 15px 0px;
}
.input-group input:focus + label, input.has-value + label{
    top: -10px;
    font-size: 12px;
    color: #aaa;
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: default;
}

footer{
    clear: both;
    margin-bottom: 0;
    text-align: center;
}
.cbutton {
    position: relative;
    display: inline-block;
    margin: 1em;
    padding: 0;
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 1.4em;
    transition: color 0.7s;
}

.cbutton.cbutton--click,
.cbutton:focus {
    outline: none;
    color: #f43100;
}

.cbutton__icon {
    display: block;
}

.cbutton__text {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.cbutton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}
/* Radomir */
.cbutton--effect-radomir::after {
    box-shadow: inset 0 0 0 35px rgba(219,225,229,0);
}

.cbutton--effect-radomir.cbutton--click::after {
    -webkit-animation: anim-effect-radomir 0.5s ease-out forwards;
    animation: anim-effect-radomir 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-radomir {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    80% {
        box-shadow: inset 0 0 0 2px rgba(219,225,229,0.8);
        opacity: 0.1;
    }
    100% {
        box-shadow: inset 0 0 0 2px rgba(219,225,229,0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-radomir {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    80% {
        box-shadow: inset 0 0 0 2px rgba(219,225,229,0.8);
        opacity: 0.1;
    }
    100% {
        box-shadow: inset 0 0 0 2px rgba(219,225,229,0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}


/*HOVER EFFECTS*/
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'feathericons';
    src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
    src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
        url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
        url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
        url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58,52,42,0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}
